<div class="row">
    <div class="col ml-1">
        <div class="media">
            <img src="{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}" class="mr-3" alt="...">
            <div class="media-body">
                <h4 class="mt-0 font-weight-bold">{{name}}</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <a href="{{url.url}}" target="blank">
                    <button type="button" class="btn btn-outline-primary btn-sm">Details</button>
                </a>
            </div>
        </div>
    </div>
</div>