<div class="row">
    <div class="col ml-1">
        <form method="GET" action="/list">
            <div class="form-row align-items-top">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Character Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Spiderman" name="charName">
                    <small class="form-text text-muted">Enter keywords to search for marvel characters.</small>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>